@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #f4f4f5;
}

#__next {
  height: inherit;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  background-image: url('../assets/dining.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slick-track {
  display: flex;
}

.slick-slider {
  padding: 1rem 0;
}

.slick-slide {
  margin: 0 0.5rem;
}

button.slick-arrow.slick-next:before,
button.slick-arrow.slick-prev:before {
  color: #000;
  font-size: 1.5rem;
}

.global_loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.global_loader::after,
.global_loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.global_loader::after {
  animation-delay: 1s;
}

.gr-map path {
  fill: #fff;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
